@{
    ViewData["Title"] = "Index";
}

 <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/images/laptop.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b></b> Laptop</h1>
                                <h3 class="h2">En iyisi burada</h3>
                                <p>
                                    Laptoplarda sürpriz kampanyalar. Fırsatları görmek için hemen şimdi alışverişe başla.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/images/pc.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Masaüstü Bilgisayar</h1>
                                <h3 class="h2">En iyisi burada</h3>
                                <p>
                                    İntel i3,i5,i7 ve Amd işlemcili bilgisarlarda %30'a varan indirimlerle burada.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/images/telefon.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Akıllı Telefon</h1>
                                <h3 class="h2">En iyisi burada </h3>
                                <p>
                                        Iphone , Samsung , Huawei , Xiaomi , General Mobile... aradığınız tüm markalar sürpriz indirimlerle burada.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Kategoriler</h1>
                <p>
                    Kategori ve ürün yelpazemiz her geçen gün büyümektedir.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="~/images/pc2.png" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Bilgisayarlar</h5>
                <p class="text-center"><a class="btn btn-success">Alışverişe Başla</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="~/images/telefon.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="h5 text-center mt-3 mb-3">Akıllı Telefonlar</h5>
                <p class="text-center"><a class="btn btn-success">Alışverişe Başla</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="~/images/laptop.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="h5 text-center mt-3 mb-3">Laptoplar</h5>
                <p class="text-center"><a class="btn btn-success">Alışverişe Başla</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Yıldızlı Ürünler</h1>
                    <p>
                        Kendi kategorilerinin en çok satan ve en yüksek değerlendirme puanına sahip yıldızlı ürünleri
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                        <img src="~/images/Huawei Matebook D15.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                </li>
                            <li class="text-muted text-right">₺11799</li>
                            </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Huawei Mate 15D</a>
                            <p class="card-text">
                            AMD Ryzen 5 5500U işlemcili 8GB DDR4 ramli 512GB SSD hard diske sahip , üstün performanslı dizüstü bilgisayar.
                            </p>
                        <p class="text-muted">Değerlendirmeler (24)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                        <img src="~/images/MSI MODERN AM241P.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                </li>
                            <li class="text-muted text-right">₺20899</li>
                            </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">MSI MODERN AM241P</a>
                            <p class="card-text">
                            23.8" Led FHD Monitörlü, Inter I7-1165G7 İşlemciye sahip, 16GB DDR4 Ram 512GB SSD hard disk ile harika bir masaüstü bilgisayar.
                            </p>
                        <p class="text-muted">Değerlendirmeler (48)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                        <img src="~/images/Samsung Galaxy A32.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                </li>
                            <li class="text-muted text-right">₺6750</li>
                            </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Samsung Galaxy A32</a>
                            <p class="card-text">
                                128 GB Mavi Cep Telefonu (Samsung Türkiye Garantili). Fiyat performansı canavarı bu telefon , aynı zamanda ayın en çok satan ürünüdür.
                            </p>
                            <p class="text-muted">Değerlendirmeler (74)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->

    